[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[privilege_escalation]
become = False
