frr defaults traditional
hostname {{ evpn.embedded_router.name }}
log stdout informational
service integrated-vtysh-config
ip nht resolve-via-default
!
router bgp {{ evpn.embedded_router.asn | int }}
 bgp router-id {{ evpn.embedded_router.router_id }}
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 bgp allow-martian-nexthop
 !
 ! Both FRR-K8s leaves dial the hosting SNO public IP on TCP/1179. The hosting
 ! leaf therefore uses the same public address as its BGP transport source and
 ! as the EVPN next-hop it advertises. FRR normally treats that received EVPN
 ! next-hop as martian because it is also a local host address on the embedded
 ! route-server. bgp allow-martian-nexthop is intentional here: the route server
 ! is control-plane-only and must preserve the originating public VTEP next-hop
 ! when re-advertising EVPN routes to the opposite leaf.
 ! Both TCP-MD5 sessions are NAT-free and only the two known VTEP /32s can join.
 neighbor EVPN-LEAVES peer-group
 neighbor EVPN-LEAVES remote-as external
{% if evpn.bgp_auth.enabled | bool %} neighbor EVPN-LEAVES password {{ evpn_embedded_bgp_password }}
{% endif %} neighbor EVPN-LEAVES ebgp-multihop 255
 bgp listen limit 4
 bgp listen range {{ evpn_embedded_public_ips.sw1 }}/32 peer-group EVPN-LEAVES
 bgp listen range {{ evpn_embedded_public_ips.c1 }}/32 peer-group EVPN-LEAVES
 !
 address-family ipv4 unicast
  neighbor EVPN-LEAVES activate
  neighbor EVPN-LEAVES attribute-unchanged next-hop
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor EVPN-LEAVES activate
  neighbor EVPN-LEAVES attribute-unchanged next-hop
 exit-address-family
exit
!
line vty
!
